@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}
.bodyStyle {
  background-image: url('./../images/spage1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  text-align: center;
  min-height: fit-content;
  width: 100%;
  padding: 10px;
  margin-top: 50px;
}
.active {
  display: block;
}
.deactive {
  display: none;
}
h5 {
  font-size: 16px;
  margin: 10px 0;
}
h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: 'Faster One', system-ui;
  font-weight: 400;
  font-style: normal;
  color: #72c4ff;
}
h1 {
  font-size: 50px;
  font-family: 'Faster One', system-ui;
  font-weight: 400;
  font-style: normal;
  color: #72c4ff;
}
h2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #72c4ff;
}
small {
  font-size: 16px;
  font-weight: 400;
}
.homeBtn,
.rsvpBtn {
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 3px;
  border: none;
  background-color: #72c4ff;
  color: #fff;
  /* box-shadow: 0 0 10px 0 black; */
}
.confetties {
  width: 10px;
  position: absolute;

  animation-name: falling;
  animation-duration: 2s;
  animation-timing-function: none;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.confetties:nth-child(1) {
  top: 10px;
  left: 20px;
  animation-delay: 500ms;
}
.confetties:nth-child(2) {
  top: 30px;
  left: 100px;
  animation-delay: 200ms;
}
.confetties:nth-child(3) {
  top: 50px;
  right: 20px;
  animation-delay: 300ms;
}
.confetties:nth-child(4) {
  top: 10px;
  right: 20px;
  animation-delay: 1s;
}
.confetties:nth-child(5) {
  top: 40px;
  left: 60px;
  animation-delay: 800ms;
}
.confetties:nth-child(6) {
  top: 100px;
  left: 60px;
  animation-delay: 600ms;
}
.confetties:nth-child(7) {
  top: 80px;
  left: 120px;
  animation-delay: 100ms;
}
.confetties:nth-child(8) {
  top: 80px;
  left: 90px;
  animation-delay: 500ms;
}
.confetties:nth-child(9) {
  top: 180px;
  left: 130px;
  animation-delay: 200ms;
}
.confetties:nth-child(10) {
  top: 280px;
  right: 100px;
  animation-delay: 300ms;
}
.confetties:nth-child(11) {
  top: 260px;
  right: 20px;
  animation-delay: 1s;
}
.confetties:nth-child(12) {
  top: 200px;
  left: 60px;
  animation-delay: 800ms;
}
.confetties:nth-child(13) {
  top: 50px;
  right: 20px;
  animation-delay: 300ms;
}
.confetties:nth-child(14) {
  top: 100px;
  right: 60px;
  animation-delay: 1s;
}
.confetties:nth-child(15) {
  top: 40px;
  left: 60px;
  animation-delay: 800ms;
}
.confetties:nth-child(16) {
  top: 100px;
  left: 60px;
  animation-delay: 1s;
}
.confetties:nth-child(71) {
  top: 50px;
  left: 20px;
  animation-delay: 500ms;
}
.confetties:nth-child(18) {
  top: 30px;
  left: 100px;
  animation-delay: 200ms;
}
.confetties:nth-child(19) {
  top: 50px;
  right: 20px;
  animation-delay: 300ms;
}
.confetties:nth-child(20) {
  top: 220px;
  right: 90px;
  animation-delay: 1s;
}
@keyframes falling {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(600px);
  }
}

.detailsWrapper {
  background-color: #72c4ffe0;
  width: 100%;
  height: 100vh;
  padding: 20px 0;
}
.infoWrapper {
  width: 80%;
  height: fit-content;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #ffffffad;
  border-radius: 4px;
}

.locationBox,
.dayBox,
.timeBox {
  height: 80px;
}

.formWrapper form {
  margin: 1px;
  text-align: start;
  background-color: #fff;
  height: 100vh;
  width: 100%;
}
label {
  font-size: 16px;
  color: #72c4ff;
  font-weight: 700;
}
input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
textarea {
  width: 100%;
  border-radius: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.fieldGroup {
  padding: 10px;
}

#submitEvent {
  background-color: lightseagreen;
  color: #fff;
}
